[user]
	name = Olga Botvinnik
	email = olga.botvinnik@gmail.com
[color]
	ui = auto
[branch]
	autoSetupRebase = always
[core]
	autocrlf = input
	excludesfile = /Users/olgabot/.gitignore
	editor = emacs -nw
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	default = simple
[pull]
	rebase = true
[diff]
  tool = meld
[difftool]
  prompt = false
[difftool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args \"$LOCAL\" \"$REMOTE\"
[merge]
  tool = meld
[mergetool]
  prompt = false
[mergetool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args --auto-merge \"$LOCAL\" \"$BASE\" \"$REMOTE\" --output=\"$MERGED\"
